.global_wrapper {
    width: 100%;
    height: 100%;
}

.adv_H2 {
    font-family: Lato-Light, serif;
    font-size: 39px;
    color: #A649E9;
}

.adv_H3 {
    font-family: Inter-Regular, serif;
    font-size: 19px;
    padding-bottom: 20px;
}

.adv_wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
    flex-wrap: wrap;
    width: 80%;
    max-width: 960px;
    justify-content: center;
    justify-items: center;
}
.adv_remark {
    font-family: Inter-Regular, serif;
    color: #757575;
    font-size: 16px;
    padding-top: 50px;
}

.content_block__item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item_num {
    display: block;
    margin-bottom: 25px;
    max-width: 250px;
    font-family: Inter-Bold, serif;
    font-size: 47px;
    color: #424242;
}

.item_num__perc {
    color: #c3c3c3;
    font-family: Inter-Regular, serif;
    font-size: 36px;
}

.item_txt {
    display: block;
    flex-grow: 1;
    width: 200px;
    color: #424242;
    font-family: Inter-Regular, serif;
    font-size: 16px;
}

.item_box {
    display: flex;
    justify-content: center;
    max-width: 250px;
    min-width: 200px;
}

.item_sep {
    display: block;
    align-self: center;
    height: 50px;
    border-right: 2px solid lightgray;
}

.dividerBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.antDividerVertical {
    height: 50px;
    background-color: #C3C3C3;
    width: 2px;
}

.wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 860px) {
    .adv_wrapper {
        grid-template-columns: 1fr 1px 1fr;
        width: 60%;
    }
    .content_block__item {
        margin-bottom: 25px;
    }
    .item_sep {
        border-right: 1px solid lightgray;
    }
    .item_sep:nth-child(4n) {
        display: none;
    }

}
@media (max-width: 430px) {
    .adv_wrapper {
        grid-template-columns: 1fr;
        width: 60%;
    }
    .item_sep{
        display: none;
    }
    .content_block__item {
        margin-bottom: 15px;
    }
}




.a {
    fill: url(#a);
}

.b {
    fill: url(#b);
}

.c {
    fill: url(#c);
}

.d {
    fill: url(#d);
}

.e {
    fill: url(#e);
}

.f {
    fill: url(#f);
}

.g, .i {
    font-size: 13.54118px;
}

.g, .i, .n {
    fill: white;
    font-family: Roboto-Regular, Roboto, serif;
}

.g, .l {
    letter-spacing: 0.19998em;
}

.h {
    letter-spacing: 0.20878em;
}

.i {
    letter-spacing: 0.18585em;
}

.j {
    letter-spacing: 0.20002em;
}

.k {
    letter-spacing: 0.11355em;
}

.m {
    letter-spacing: 0.20784em;
}

.n {
    font-size: 13.55184px;
}