.global_wrapper {
    width: 100%;
    height: 100%;
    /*background-color: lightgray;*/
}

.adv_H2 {
    font-family: Lato-Light, serif;
    font-size: 39px;
}

.adv_H3 {
    font-family: Inter-Regular, serif;
    font-size: 19px;
}

.adv_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.adv_remark {
    font-family: Inter-Regular, serif;
    color: #757575;
    font-size: 16px;
}

.content_block {
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    /*grid-template-rows: 1fr;*/
    /*justify-items: center;*/
}

.content_block__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 250px;
}

.item_num {
    display: block;
    max-width: 250px;
    font-family: Inter-Bold, serif;
    font-size: 47px;
    color: #424242;
}

.item_num__perc {
    color: #c3c3c3;
    font-family: Inter-Regular, serif;
    font-size: 36px;
}

.item_txt {
    display: block;
    flex-grow: 1;
    max-width: 200px;
    color: #424242;
    font-family: Inter-Regular, serif;
    font-size: 16px;
}

.item_box {
    display: flex;
    justify-content: center;
    max-width: 250px;
}

.dividerBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.antDividerVertical {
    height: 50px;
    background-color: #C3C3C3;
    width: 2px;
}

/*.MuiDividerFlexItem {*/
/*    height: 30px*/
/*}*/

.wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .content_block__item {
        flex: 0 1 50%;
        /*flex-basis: 250px;*/
        /*max-width: 250px;*/
    }

}
@media (max-width: 550px) {
    .content_block__item {
        flex: 0 1 100%;
        min-width: 250px;
    }
    .adv_wrapper {
        padding-right: 0px;
        padding-left: 0px;
    }
}