.logo {
    display: block;
    height: 25px;
    pointer-events: none;
    background-color: #fff;
    border-radius: 7px;
}

.logoCont {
    align-self: center;
    display: flex;
    height: 25px;
}

.logoCont_tag {
    margin-left: 10px;
    color: #fff;
    font-weight: bolder;
}

.appHeader {
    height: 42px;
    background-color: #4d77a7;
}

.container {
    display: grid;
    margin: 0 auto;
    height: 42px;
    max-width: 960px;
    grid-template-columns: 165px 550px 245px;
}

.centerBlock {
    margin-left: 20px;
    align-self: center;
}

.centerBlock__search {
    display: flex;
    padding-left: 10px;
    background-color: #234c78;
    width: 230px;
    height: 28px;
    border-radius: 14px;
}

.centerBlock__search span {
    color: #779bbb;
    margin-left: 10px;
}

.loginBlock {
    display: flex;
    justify-content: flex-end;
}
.loginBlock a{
    display: flex;
    color: #f0fbff;
    align-self: center;
    text-decoration: none;
}
.loginBlock__camera{
    align-self: center;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 25px;
}
.loginBlock__name{
    align-self: center;
    color: #f0fbff;
}