@media screen and (max-width: 1366px) {
  body {
    background: url(../img/main-1366-top.jpg) no-repeat;
    background-size: 100%; }

  .bottom_bgr {
    background: url(../img/main-1366-bot.jpg) no-repeat;
    background-size: 100%;
  }

  .container {
    max-width: 88.7rem; }

  header {
    background: none; }

  #mainNav > .container {
    max-width: 100rem; }

  #mainNav .top-logo .navbar-brand img {
    /*max-width: 11.2rem; */
  }

  #mainNav .navbar-nav {
    margin-top: .5rem;
    margin-left: 1rem !important; }

  .top-menu-block .navbar .navbar-nav li.nav-item {
    padding: 0 1.2rem; }

  .top-menu-block .navbar .navbar-nav li.nav-item a.nav-link {
    font-size: 1rem; }

  .time-phone-block {
    padding-left: 3rem;
    flex: 0 0 25%;
  }

  .time-phone.d-flex .time {
    font-size: 1.1rem;
    margin-top: .3rem !important; }

  .phone {
    font-size: 2.1rem;
    margin-right: 0; }

  .header-text-block > div:nth-child(3) p {
    font-size: 1.1rem; }

  header .vert-title {
    bottom: 9rem; }

  .vert-title span {
    font-size: 1.4rem;
    left: calc(50% - 13.4rem); }

  section#about .about-head-row .holder-left {
    padding-right: 3.7rem;
  }

  section#about .about-head-row .holder-right {
    padding-left: 4rem; }

  section#about .about-head-row .holder-right p {
    font-size: 1.6rem;
    max-width: 24rem;
    line-height: normal; }

  .row.features-items {
    max-width: 81rem;
    padding-top: 0;
    position: relative;
    top: 0;
  }


  section#doc {
    padding-top: 18rem;
  }

  section#about {
    grid-template-rows: 3fr 6fr 6fr;
    padding: 6rem 8rem 19rem 8rem;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
  }

  .feature-item:nth-child(1) {
    right: -0.5rem; }

  .feature-item:nth-child(2) {
    right: -1.3rem; }

  .feature-item:nth-child(3) {
    right: -2.2rem; }

  .feature-item:nth-child(4) {
    right: -2.9rem; }

  section#about .feature-item h4 {
    margin: 0;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  section#doc .container {
    max-width: 81.6rem;
  }
  .doc-item.feature-item h4 {
    font-size: 1.8rem;
  }

  .feature-item {
    grid-area: auto/span 2;
    padding: 0 0.7rem;
    grid-template-rows: 5rem 11rem;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0rem;
  }

  .feature-item-ico {
    grid-area: 1/1/3/2;
    align-self: center;
  }

  .feature-item-ico-holder {
    width: 9rem;
  }

  .feature-item p {
    padding: 0;
    font-size: 1.5rem;
    /*padding-top: 2.4rem;*/
    padding: 2.4rem 1rem 0rem 0rem;
    text-align: left;
  }

  .doc-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 4rem;
  }

  .doc-item{
    grid-area: auto/span 1;
    grid-template-rows: 8rem 1rem 6rem;
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .workes-status {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .testim {
    padding-top: 15rem;
  }

  .more-btn-wrap {
    display: none;
  }

  .btn-form{
    display: block;
  }

  /*.more-btn-wrap a.btn-light span {*/
  /*  font-size: 1.2rem;*/
  /*  line-height: 3rem;*/
  /*  padding: 0 2rem;*/
  /*  border-radius: .5rem; }*/




  section#external_dif {
    padding-top: 0rem;
    padding-bottom: 12.9rem; }

  section#external_dif h3 span {
    margin: .5rem auto; }

  section#external_dif p {
    max-width: 50%;
    line-height: 2.2rem;
    font-size: 1.45rem;
  }

  section#external_dif p.gold-text1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  section#external_dif p.gold-text2 {
    font-size: 2.8rem;
  }

  .portfolio__category {
    padding: 0;
  }

  .bttn-light span {
    font-size: 1.2rem;
    padding: 0.5rem 1.73rem;
  }

  section#portfolio .section-header p {
    margin-bottom: 2.9rem; }

  section#portfolio .row.filter-buttons {
    padding: 0;
    margin-bottom: 2rem;
    padding-left: 3rem; }

  section#portfolio .row.filter-buttons .more-btn-wrap a.btn-light span {
    font-size: 1rem;
    min-width: 12.5rem;
    line-height: 3.2rem; }

  section#portfolio .more-btn-wrap.see-more-btn {
    margin-top: 2.5rem; }

  .show-more {
    display: block;
  }


  section#live_position {
    /*margin-top: 110px;*/
    /*padding-top: 0px;*/
    padding-top: 20rem;
  }

  section#live_position .section-header h3 {
    margin-bottom: 2.6rem; }

  section#live_position .section-text h4 {
    font-size: 1.6rem;
    max-width: 19rem;
    margin-bottom: 1.6rem;
    margin-right: 0rem; }

  .more-btn-wrap.see-more-btn a.btn-light span {
    font-size: 1rem;
    padding: 0 2.3rem; }

  section#live_position .container .col-7 {
    margin-top: 6.2rem;
    margin-bottom: 0rem;
    padding-right: 6rem;
    padding-left: 4rem;

  }

  .filter-numb {
    bottom: -4rem !important;
    font-size: 1.47rem; }

  section#live_position .section-text p {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 3rem;
    margin-right: .1rem;
  }

  .text-workers-holder{
    padding-left: 1rem;
  }

  section#workes {
    margin-top: 0px;
  }

  section#all_workes {
    padding-top: 7.2rem;
    margin-bottom: 0rem; }

  section#plans .row.features-items .col-4.feature-item.text-center.premium-div p {
    margin-bottom: 2.4rem; }

  section#workes .vert-title .text-workers {
    font-size: 1.4rem;
    top: 10.4rem;
    left: -0.5rem;
  }

  section#workes .direktor {
    padding-top: 24rem;
    padding-left: 5rem;
  }

  section#workes .vert-title {
    top: 12.3rem; }

  section#workes .direktor p.subheader {
    font-size: 2rem;
    max-width: 19.3rem;
    margin-bottom: 3rem;
    line-height: 1.1; }

  section#workes .direktor p.direktor-text-1 {
    padding-left: .4rem;
    line-height: 2rem;
    margin-bottom: .8rem;
    font-size: 1.5rem; }

  section#plans .row.features-items .feature-item-ico .ico-glow img {
    top: 1.5rem; }

  section#plans .row.features-items .col-4.feature-item.text-center.express-div p {
    margin-bottom: 2.4rem;
    padding: 0 1.5rem; }

  section#workes .direktor p {
    font-size: 1.25rem; }



  section#about .feature-item {
    /*display: grid;*/
    /*grid-template-rows: 8rem 5rem 11rem 3rem;*/
    /*-webkit-animation-duration: 1.8s;*/
    /*-o-animation-duration: 1.8s;*/
    /*-moz-animation-duration: 1.8s;*/
    /*-webkit-animation-timing-function: ease-out;*/
    /*-o-animation-timing-function: ease-out;*/
    /*-moz-animation-timing-function: ease-out;*/
    /*animation-timing-function: ease-out;*/
  }





  .row.oll-workes {
    padding: 0 2.7rem 0 2rem; }

  section#all_workes .row.oll-workes p.workes-status {
    font-size: 1.25rem; }

  section#all_workes .row.oll-workes p.workes-worktime {
    line-height: 0.89rem;
    font-size: 1.3rem; }

  section#plans {
    padding-top: 4.1rem; }

  section#plans .row.features-items {
    padding-top: 1rem;
    padding-left: 1.7rem;
    padding-right: 6.7rem; }

  section#plans .row.features-items .feature-item p {
    padding: 0 1.8rem;
    font-size: 1.25rem;
    line-height: 1.33;
    margin-bottom: 2.4rem;
    min-height: 7.8rem; }

  section#plans .feature-item:nth-child(2) {
    right: -2.4rem; }

  section#plans .row.features-items .feature-item p.price {
    font-size: 1.7rem;
    min-height: auto; }

  section#contact .vert-title {
    top: 3rem; }

  section#contact .vert-title span {
    left: calc(50% - 19.5rem); }

  footer.footer {
    padding-top: 7rem;
    padding-bottom: 2rem; }

  #mainNavBot > .container {
    max-width: 100rem; }

  /*#mainNavBot .top-logo .navbar-brand img {*/
  /*  max-width: 9.1rem; }*/

  .time-phone.d-flex {
    justify-content: center;
    -webkit-justify-content: center;
  }

  section#contact {
    padding-top: 8rem;
  }


  #mainNavBot .container {
    margin-left: 7.4rem; }

  #mainNavBot .top-menu-block .navbar .navbar-nav li.nav-item a.nav-link {
    font-size: 1.2rem; }

  #mainNavBot .top-menu-block .navbar .navbar-nav li.nav-item {
    padding: 0 .5rem; }

  div#navbarResponsiveBot {
    /*padding-right: 5rem; */
  }

  footer.footer .time-phone-block {
    padding-left: 0;
    left: -2.7rem; }

  footer.footer .time-phone.d-flex .time {
    display: none;
    font-size: 0.8rem;
    margin-top: .1rem !important; }

  footer.footer .phone {
    font-size: 1.6rem; }

  section#contact p.subtitle {
    font-size: 1.8rem;
    max-width: 17.2rem; }

  section#contact p {
    /*margin-bottom: 3.65rem;*/
    max-width: 35rem;
    font-size: 1.4rem;
  }

  /*p.sequrity {*/
  /*  display: none; }*/

  form#form2 .form-fields {
    margin-bottom: 2.5rem; }

  form#form2 input.btn-sub {
    font-size: 1.2rem;
    line-height: 2.5rem;
    padding: 0 2.2rem; }

  .scroll-to-top {
    right: 6.5rem;
    bottom: 6rem; } }
