body {
  margin: 0;
  padding: 0;
  background-position: top 40px center;
  background-repeat: no-repeat;
  background-image: url("../img/main-background.jpg");
  background-color: #070707;
  color: white;
  font-family: 'PT Sans Narrow',Arial, sans-serif;
  font-size: 14px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

.btn {
  padding: 16px 0px;
  display: block;
  width: 140px;
  min-height: 44px;
  background-color: black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border: none;
  font-weight: 700;
}

.btn:focus,
.btn:hover {
  cursor: pointer;
  background-color: #663d15;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 940px;
}

.main-nav {
  margin: 0;
  padding: 0;
  color: white;
  font-style: 16px;
}

.main-nav-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000;
  min-height: 72px;
  text-align: center;
}

.main-nav-wrapper .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 72px;
}

.main-nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav-container a {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin-top: 60px;
}

.main-nav-container a > img {
  width: 160px;
}

.main-nav-menu {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 620px;
  list-style: none;
}

.main-nav-menu li a {
  font-size: 16px;
  padding: 26px 21px 26px 21px;
}

.main-nav-menu li a:hover,
.main-nav-menu li a:focus {
  background-color: #242424;
}

.main-nav-login {
  margin: 0;
  padding: 0;
  width: 140px;
  text-align: left;
}

.main-nav-login li a {
  padding: 26px 21px 26px 21px;
  margin-left: 32px;
  font-size: 16px;
}

.main-nav-login li a:hover,
.main-nav-login li a:focus,
.main-nav-login li a:active {
  background-color: #242424;
}

.main-nav-login li a:hover svg path,
.main-nav-login li a:focus svg path,
.main-nav-login li a:active svg path {
  fill: white;
}

.main-nav-login li a svg {
  width: 14px;
  margin-right: 15px;
}

.main-nav-login li a svg path {
  fill: #4d4d4d;
}

.benefit {
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.benefit-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.benefit-item {
  width: 280px;
  text-align: center;
}

.benefit-item:nth-child(2) {
  padding: 0 40px;
}

.benefit-item p {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 65px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.benefit-item p::before {
  position: absolute;
  top: -48px;
  left: 131px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
}

.news {
  display: inline-block;
  position: relative;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 77px 0px 0px 0px;
  padding: 23px 40px 23px 82px;
  width: 470px;
  min-height: 419px;
  background: url("../img/pattern-light.jpg");
  color: black;
}

.news:after {
  content: "";
  width: 6px;
  height: 270px;
  position: absolute;
  top: 85px;
  left: 466px;
  background: url("../img/sect-separator.png") no-repeat;
}

.news h2 {
  display: block;
  margin-bottom: 25px;
}

.news-list {
  margin: 0;
  padding: 0;
}

.news-list .btn-news {
  margin-top: 27px;
}

.news-item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.news-item p {
  margin: 0;
  padding: 0;
}

.gallery {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 77px 0px 0px -3px;
  padding: 23px 80px 23px 90px;
  width: 470px;
  min-height: 419px;
  background: url("../img/pattern-light.jpg");
  color: black;
}

.gallery h2 {
  display: inline-block;
  letter-spacing: 0.5px;
  margin-left: 3px;
}

.gallery-slider {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gallery-slider button {
  color: white;
  margin-top: 36px;
}

.gallery-slider img {
  width: 300px;
  border: 8px solid white;
}

.contacts {
  display: inline-block;
  position: relative;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 36px 0px 0px 0px;
  padding: 23px 40px 21px 82px;
  width: 470px;
  min-height: 435px;
  background: url("../img/pattern-light.jpg");
  color: black;
  font-weight: 700;
  line-height: 24px;
}

.contacts:after {
  content: "";
  width: 6px;
  height: 270px;
  position: absolute;
  top: 85px;
  left: 466px;
  background: url("../img/sect-separator.png") no-repeat;
}

.contacts h2 {
  display: block;
  margin: 29px 0px 30px 0px;
  padding: 0;
  letter-spacing: 0.1px;
}

.contacts .contacts-worktime {
  display: block;
  margin-top: 20px;
}

.contacts-btn {
  margin-top: 23px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contacts-btn_find,
.contacts-btn_feedback {
  color: white;
  padding: 0;
  margin: 0;
}

.contacts-btn_feedback {
  padding-top: 10px;
}

.signup {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 36px 0px 0px -3px;
  padding: 23px 80px 23px 90px;
  width: 470px;
  min-height: 435px;
  background: url("../img/pattern-light.jpg");
  color: black;
  font-weight: 700;
  line-height: 24px;
}

.signup h2 {
  display: inline-block;
  letter-spacing: 0.5px;
  margin-left: 3px;
  margin-top: 29px;
}

.signup-txt {
  margin: 5px 0px 0px 3px;
}

.signup-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.signup-form .signup-btn {
  color: white;
  margin-top: 18px;
  width: 300px;
}

.signup-form-container {
  display: block;
  width: 129px;
}

.signup-form-container:nth-child(2n) {
  margin-left: 32px;
}

.signup-form-container label {
  display: inline-block;
  font-weight: 700;
  margin: 13px 0px 6px 18px;
}

.signup-form-container input {
  display: inline-block;
  -webkit-box-shadow: border-box;
  box-shadow: border-box;
  margin: 0;
  padding: 0;
  width: 121px;
  min-height: 37px;
  border: 2px solid black;
  padding-left: 15px;
  font-weight: 700;
  color: black;
}

.signup-form-container input:focus {
  border-color: #663d15;
}