body
  margin: 0
  padding: 0
  background-position: top center
  background-repeat: no-repeat
  background-image: url("../img/main-background.jpg")
  background-color: #070707
  color: white
  font-family: 'PT Sans Narrow',Arial, sans-serif

.container
  width: 940px