// @import "../fonts/fonts.sass"
@import "_variable.sass"

*
  box-sizing: border-box

body
  margin: 0
  padding: 0
  background-repeat: no-repeat
  background-color: #20202D
  color: #fff
  font-family: 'Roboto',Arial, sans-serif
  font-size: 14px

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden
  position: absolute

  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden
  
a
  text-decoration: none
  color: white

img
  max-width: 100%

li
  list-style: none
h1
  font-size: 24px
h2
  font-size: 19px
h3
  font-size: 18px
h4
  font-size: 15px
  font-weight: 700

.btn
  border: none
  background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%)
  box-shadow: 0px 4px 0px #B68500
  border-radius: 5px 5px 10px 10px
  text-transform: uppercase
  font-size: 10px
  font-weight: 700
  padding: 18px 44px

.head-gradient
  background: linear-gradient(2.07deg, #000000 1.01%, rgba(0, 0, 0, 0) 94.55%)
.glo-background
  background-color: #000  
.container
  width: 255px
  margin: 0 auto
.header
  display: flex
  justify-content: space-between
  padding-top: 43px  
  &__social
    display: flex
    margin: 0
    align-items: center
  &__item
    margin: 0px 0px 0px 10px
.avatar
  display: flex
  flex-direction: column
  padding-top: 39px
  text-align: center
  &__img
    margin: 0 auto
    width: 113px
    height: 113px
    border-radius: 50%
    border: 3px solid white
  &__title
    padding-top: 17px
    color: $colorOrange
  &__work
    line-height: 24px
  &__btn
    margin: 0 auto
    margin: 34px 0px 75px 0px
.advantages
  padding-top: 60px
  padding-bottom: 120px
  &__title
    text-align: center
  &__list
    padding: 0
    padding-top: 30px
  &__item
    padding-top: 30px   
  &__txt
    line-height: 28px

.projects
  display: grid
  grid-template-columns: 250px
  &__title
    grid-area: 1/1/2/2
    margin: 0 auto
    margin-bottom: 50px
  &__slider
    grid-area: 2/1/3/2
  &__tabs
    grid-area: 3/1/4/2
  &__tabs 
    justify-self: center 
  &__bullet
    display: inline-block
    width: 10px
    height: 10px
    border-radius: 50%
    border: 2px solid $colorOrange
    margin-right: 10px
  &__bullet-active 
    background-color: $colorOrange
.project
  display: grid
  grid-template-columns: 31px 203px
  grid-column-gap: 16px
  width: 250px
  &__img
    grid-area: 1/1/2/3
    margin-bottom: 40px
  &__title
    grid-area: 2/1/3/3
    line-height: 150%
  &__icon
    margin-top: 22px
  &__txt
    line-height: 150%
    margin-top: 0
  &__subtitle
    margin-bottom: 10px

.contacts
  text-align: center
  &__title
    margin: 48px 0px
  &__form
    background-color: white
    border-radius: 5px
    box-shadow: -3px 6px 0px $colorOrange
    margin-bottom: 64px
    input
      border: none
      height: 63px
      min-width: 220px
      padding-left: 50px
      background-color: $lightGray
      border-radius: 5px
  &__input-name
    background: url("../img/form/human.svg") no-repeat 20px center
    margin-bottom: 17px
  &__input-phone
    background: url("../img/form/phone.svg") no-repeat 20px center
    margin-bottom: 36px  
  &__btn
    margin-bottom: 47px
  &__subtitle
    padding-top: 39px
    color: black
  &__collect
    display: flex
    flex-wrap: wrap
    flex-direction: column
    align-items: flex-start
  &__politic
    margin-top: 30px
    margin-bottom: 50px
    text-decoration: underline
    font-size: 15px
.phone__title,.mail__title,.social__title
  text-align: left
  margin-bottom: 17px
.phone__txt,.mail__txt,.social__txt
  display: inline-block
  margin-bottom: 40px
.social__txt
  display: flex
  flex-direction: column
  span
    padding-bottom: 15px
.footer
  &__social
    display: flex
    padding: 0
  &__item
    margin-right: 20px

@media (min-width:1024px)
  body
    font-size: 16px
  h1
    font-size: 50px
  h2  
    font-size: 36px
  h3
    font-size: 24px
  h4
    font-size: 18px

  .btn
    font-size: 12px

  .container
    width: 940px
  
  .header
    padding-top: 51px  
    &__item
      margin: 0px 0px 0px 21px
  .avatar
    display: grid
    grid-template-columns: 420px 1fr
    grid-template-areas: "title img" "name img" "work img" "btn img"                        
    column-gap: 140px
    padding-top: 115px
    text-align: left
    &__img
      grid-area: img
      width: 389px
      height: 389px
      border: 11px solid white
    &__title
      grid-area: title
      font-size: 24px
    &__name
      grid-area: name
      margin: 0
      padding-bottom: 20px
    &__work
      grid-area: work
      line-height: 28px
    &__btn
      grid-area: btn
      width: 285px
      min-height: 65px
  .advantages
    &__title
      text-align: left
    &__list
      display: grid
      grid-template-columns: 1fr 1fr 1fr
      column-gap: 33px
      row-gap: 60px

  .projects
    grid-template-columns: 1fr 1fr
    &__title
      grid-area: 1/1/2/3
      margin: 0
      margin-bottom: 75px
    &__slider
      grid-area: 2/1/3/3
    &__tabs
      grid-area: 3/1/4/3
      margin-top: 40px
  .project
    display: grid
    grid-template-columns: 400px 30px 185px 30px 240px
    &__img
      grid-area: 1/1/4/2
      margin-bottom: 0
      width: 360px
      border-radius: 6px
    &__title
      grid-area: 1/2/2/6
      margin: 0
      margin-bottom: 21px
    &__txt
      margin-top: 10px
    &__icon
      margin-top: 32px
    &__txt--last
      grid-area: 3/3/4/6




  .contacts
    display: grid
    grid-template-columns: 385px 385px
    column-gap: 95px
    margin-bottom: 150px
    &__title
      text-align: left
      grid-column: 1/3
    &__form
      margin: 0
      input
        min-width: 309px
    &__btn
      min-height: 65px
    &__subtitle
      max-width: 230px
      margin: 0 auto
      margin-bottom: 30px
    &__collect
      display: grid
      text-align: left
      justify-content: space-between
      align-self: center
    &__politic
      grid-area: 4/1/5/3
  .social__txt
    flex-direction: row
    justify-content: space-between
    margin: 0
  .collect
    &__social
      grid-area: 2/1/3/3


