@font-face {
  font-family: 'MasonChronicles';
  src: url("../fonts/MasonChronicles.woff") format("woff"), url("../fonts/MasonChronicles.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #141218 url("../files/background.jpg") no-repeat 100% 0%;
  color: #fff;
  font-family: 'Roboto',Arial, sans-serif;
  font-size: 14px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
  font-weight: 700;
}

.btn {
  border: none;
  padding: 22px 72px;
  width: 260px;
  height: 60px;
  background: #9D2929;
  border-radius: 8px;
  color: white;
}

.container {
  margin: 0 auto;
  width: 1140px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 0 auto;
  width: 1140px;
  min-height: 60px;
}

.header {
  display: grid;
  grid-template-columns: 67px 261px 1fr;
  gap: 30px;
  padding-top: 60px;
}

.head-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head-item {
  margin-right: 24px;
}

.head-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.head-social-icon {
  margin-left: 21px;
}

.rating--title {
  margin-top: 90px;
}

.rating--level {
  margin-top: 16px;
}

.rating--level-txt {
  margin-left: 10px;
}

.about--title {
  font-family: 'MasonChronicles', serif;
  font-size: 80px;
  margin-top: 20px;
}

.about--txt {
  width: 460px;
  line-height: 150%;
  margin-top: 20px;
}

.about--btn {
  margin-top: 40px;
}

.player--btn {
  position: relative;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.player--btn::before {
  content: '';
  position: absolute;
  left: -16px;
  top: -16px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: #9D2929;
  opacity: 0.5;
}

.player--arrow {
  position: relative;
  padding-left: 10px;
}

.main {
  display: grid;
  grid-template-columns: 610px 1fr;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.main--rating {
  grid-area: 1/1/2/2;
}

.main--about {
  grid-area: 2/1/3/2;
}

.main--player {
  grid-area: 1/2/3/3;
  justify-self: center;
  align-self: center;
  margin-top: 100px;
}

.swiper-wrapper {
  margin-top: 50px;
  width: 360px;
}

.swiper-container {
  grid-area: 3/1/4/2;
  margin-left: 0;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 164px;
  height: 113px;
  border-radius: 8px;
}

.slide--subtitle {
  font-size: 10px;
  line-height: 12px;
  margin-left: 15px;
}

.slide--title {
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 15px;
  font-size: 14px;
  line-height: 16px;
}

.slide-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url("../files/slide-1.jpg") no-repeat;
  background: -o-linear-gradient(top, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../files/slide-1.jpg") no-repeat;
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../files/slide-1.jpg") no-repeat;
}

.slide-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url("../files/slide-2.jpg") no-repeat;
  background: -o-linear-gradient(top, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../files/slide-2.jpg") no-repeat;
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../files/slide-2.jpg") no-repeat;
}

.swiper-button-next {
  position: relative;
  grid-area: 3/1/4/2;
  justify-self: end;
  margin-right: 150px;
  margin-top: 15px;
  width: 32px;
  background: url("../img/sliderArrow.svg") no-repeat;
}

.swiper-button-next::after {
  content: '';
}

.footer {
  margin-top: 20px;
  background: #141218;
  color: #3A383D;
}

.footer--copyr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.footer--item {
  margin-right: 25px;
}

.item--link {
  color: #3A383D;
}