@font-face {
  font-family: 'MasonChronicles';
  src: url("../fonts/MasonChronicles.woff") format("woff"), url("../fonts/MasonChronicles.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  display: grid;
  grid-template-row: 1fr 1fr;
  justify-items: center;
  background: #141218 url("../files/background.jpg") 65% 0% no-repeat;
  color: #fff;
  font-family: 'Roboto',Arial, sans-serif;
  font-size: 14px;
  height: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
  font-weight: 700;
}

.btn {
  border: none;
  padding: 22px 72px;
  width: 260px;
  height: 60px;
  background: #9D2929;
  border-radius: 8px;
  color: white;
}

.container {
  max-width: 1140px;
  width: 95%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  max-width: 1140px;
  width: 95%;
  min-height: 60px;
}

.header {
  display: grid;
  grid-template-columns: 67px 261px 1fr;
  gap: 30px;
  padding-top: 60px;
}

.head-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head-item {
  margin-right: 24px;
}

.head-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.head-social-icon {
  margin-left: 21px;
}

.mobile-menu {
  display: none;
}

.rating--title {
  margin-top: 90px;
}

.rating--level {
  margin-top: 16px;
}

.rating--level-txt {
  margin-left: 10px;
}

.about--title {
  font-family: 'MasonChronicles', serif;
  font-size: 80px;
  margin-top: 20px;
}

.about--txt {
  line-height: 150%;
  margin-top: 20px;
}

.about--btn {
  margin-top: 40px;
}

.player--btn {
  position: relative;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.player--btn::before {
  content: '';
  position: absolute;
  left: -16px;
  top: -16px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: #9D2929;
  opacity: 0.5;
}

.player--arrow {
  position: relative;
  padding-left: 10px;
}

.main {
  display: grid;
  grid-template-columns: 460px 1fr;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.main--rating {
  grid-area: 1/1/2/2;
}

.main--about {
  grid-area: 2/1/3/2;
}

.main--player {
  grid-area: 1/2/3/3;
  justify-self: center;
  align-self: center;
  margin-top: 100px;
}

.swiper-wrapper {
  margin-top: 50px;
  width: 360px;
}

.swiper-container {
  grid-area: 3/1/4/2;
  margin-left: 0;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 164px;
  height: 113px;
  border-radius: 8px;
}

.slide--subtitle {
  font-size: 10px;
  line-height: 12px;
  margin-left: 15px;
}

.slide--title {
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 15px;
  font-size: 14px;
  line-height: 16px;
}

.slide-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url("../files/slide-1.jpg") no-repeat;
  background: -o-linear-gradient(top, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../files/slide-1.jpg") no-repeat;
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../files/slide-1.jpg") no-repeat;
}

.slide-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url("../files/slide-2.jpg") no-repeat;
  background: -o-linear-gradient(top, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../files/slide-2.jpg") no-repeat;
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../files/slide-2.jpg") no-repeat;
}

.swiper-button-next {
  position: relative;
  grid-area: 3/1/4/2;
  justify-self: end;
  margin-top: 15px;
  width: 32px;
  background: url("../img/sliderArrow.svg") no-repeat;
}

.swiper-button-next::after {
  content: '';
}

.footer {
  margin-top: 20px;
  background: #141218;
  color: #3A383D;
  width: 100%;
}

.footer--copyr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.footer--item {
  margin-right: 25px;
}

.item--link {
  color: #3A383D;
}

@media (max-width: 670px) {
  body {
    width: 100%;
  }

  .header {
    display: none;
    position: absolute;
    top: 0;
    grid-template-columns: 55fr 95px 70fr;
    grid-template-rows: 70fr 60fr 150fr;
    gap: 0px;
    justify-items: center;
    align-self: end;
    padding-top: 33px;
    width: 250px;
    min-height: 282px;
    background-color: #9D2929;
    margin-right: -5%;
  }

  .header__active {
    display: grid;
  }

  .mobile-menu {
    position: absolute;
    top: 40px;
    right: 35px;
    display: block;
    width: 30px;
    height: 20px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-color: transparent;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    cursor: pointer;
  }

  .mobile-menu::before,
  .mobile-menu::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border: none;
    left: 0px;
    top: 7px;
  }

  .head-logo {
    grid-area: 1/2/2/3;
    align-self: end;
  }

  .head-social {
    grid-area: 2/2/3/3;
    align-self: center;
    justify-self: start;
    margin: 0;
    padding: 0;
  }

  .head-social-icon {
    width: 17px;
    margin: 0;
    margin-right: 22px;
  }

  .head-list {
    grid-area: 3/2/4/3;
    display: block;
    padding: 0;
  }

  .head-item {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .social-icon--img {
    margin: 0;
    padding: 0;
  }

  .main--player {
    display: none;
  }

  .container--footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-template-columns: 315px;
    margin-top: 180px;
  }

  .container {
    margin: 0 auto;
    width: 90%;
  }
}