# ==============================
# TELEGRAM API
# Officialnye klyuchi Telegram Desktop
# ==============================
TG_API_ID=2040
TG_API_HASH=b18441a1ff607e10a989891a5462e627

# ==============================
# PROKSI DLYa TELEGRAM (esli Telegram zablokirovan)
# Tip: socks5 ili http
# Esli proksi net -- ostavte PROXY_HOST pustym
# ==============================
PROXY_TYPE=socks5
PROXY_HOST=
PROXY_PORT=

# ==============================
# NASTROYKI
# ==============================
DELAY_MIN=4
DELAY_MAX=10
HEADLESS=true
