.head ul{
  display: grid;
  margin-right: 400px;
  grid-template-columns: repeat(5, 100px);
  justify-content: center;
  list-style: none;
}
.head ul li {
  margin: 0 10px;  
  background-color: cornflowerblue;
}
.head ul li a:hover {
  cursor: pointer;
}
.head ul li a {
  padding: 0px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: burlywood;
  background-color: cornflowerblue;
  box-shadow: darkgray 3px 3px 12px;
}